@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brice";
  src: url("/fonts/Brice-Black.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Brice";
  src: url("/fonts/Brice-BlackSEMIEXPANDED.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Brice";
  src: url("/fonts/Brice-ExtraLightSemiCondensed.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Brice";
  src: url("/fonts/Brice-RegularSemiCondensed.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Brice", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.triangle-container {
  cursor: pointer;
}

.triangle {
  transition: all 0.24s ease-in-out;
  height: 85%;
}

.triangle-container:hover .triangle {
  transform: rotate(90deg);
}

.triangle .ghost-1 {
  transition: all 0.24s 0.5s ease-in-out;
}

.triangle-container:hover .ghost-1 {
  transform: translateX(-15%) translateY(-10%);
}

.triangle .ghost-2 {
  transition: all 0.24s 0.5s ease-in-out;
}

.triangle-container:hover .ghost-2 {
  transform: translateX(25%) translateY(10%);
}

.triangle-container .stop-color-1 {
  transition: all 0.24s 0.25s ease-in-out;
}

.triangle-container .stop-color-2 {
  transition: all 0.24s 0.5s ease-in-out;
}

.triangle-container:hover .stop-color-1 {
  stop-color: hsl(206, 70%, 58%);
}

.triangle-container:hover .stop-color-2 {
  stop-color: hsl(206, 70%, 58%);
}

.triangle-container:hover .background-container .stop-color-1 {
  stop-color: hsla(160, 81%, 56%, 0.145);
}

.triangle-container:hover .background-container .stop-color-2 {
  stop-color: hsla(285, 73%, 63%, 0.098);
}

.background-container svg {
  height: auto;
  min-width: 150vh;
  min-height: 150vh;
}

