@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brice";
  src: url("/fonts/BRICE-BLACK.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Brice";
  src: url("/fonts/BRICE-BLACKSEMIEXPANDED.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Brice";
  src: url("/fonts/BRICE-EXTRALIGHTSEMICONDENSED.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Brice";
  src: url("/fonts/BRICE-REGULARSEMICONDENSED.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Brice", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.triangle-container {
  cursor: pointer;
}

.triangle {
  transition: all 0.24s ease-in-out;
  height: 85%;
}

.triangle-container:hover .triangle {
  transform: rotate(90deg);
}

.triangle .ghost-1 {
  transition: all 0.24s 0.5s ease-in-out;
}

.triangle-container:hover .ghost-1 {
  transform: translateX(-5%) translateY(-5%);
}

.triangle .ghost-2 {
  transition: all 0.24s 0.5s ease-in-out;
}

.triangle-container:hover .ghost-2 {
  transform: translateX(5%) translateY(5%);
}

.triangle-container .stop-color-1 {
  stop-color: #0ea5e9;
  transition: all 0.24s 0.25s ease-in-out;
}

.triangle-container .stop-color-2 {
  stop-color: #f59f0bc5;
  transition: all 0.24s 0.5s ease-in-out;
}

.triangle-container:hover .stop-color-1 {
  stop-color: #f59f0bc5;
}

.triangle-container:hover .stop-color-2 {
  stop-color: #0ea5e9;
}

.triangle-container:hover .background-container .stop-color-1 {
  stop-color: hsla(160, 81%, 56%, 0.145);
}

.triangle-container:hover .background-container .stop-color-2 {
  stop-color: hsla(285, 73%, 63%, 0.098);
}

.redes-link {
  transition: all 0.3s ease-in-out;
  width: 30rem;
  color: theme("colors.black");
  background-color: theme("colors.amber.500");
}

.redes-link:hover {
  background-color: theme("colors.black");
  color: theme("colors.amber.500");
}

.redes-link:hover svg {
  fill: theme("colors.amber.500");
}

.redes-link svg {
  fill: theme("colors.black");

  max-width: 7rem;
  flex: 1;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
}

.home-content {
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}

.home-content span {
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}

