.rhap_container {
  background-color: transparent !important;
}

.rhap_container {
  background-color: transparent !important;
}

.rhap_main-controls .rhap_main-controls-button {
  background-color: transparent;
  color: white;
}

